{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="py-3 py-md-5">
      <div class="container">
        <div
          class="row gy-5 gy-md-8 gy-lg-0 align-items-lg-center position-relative"
        >
        
          {% comment %} start of skills {% endcomment %}
          
          <div class="col-12 col-lg-6">
            {% comment %} open scroller {% endcomment %}
            <div class="hide-scrollbar">
              <h3 class="text-start" style="text-align: center;">Technologies I Use</h3>
              <br>
              {% comment %} open skills-centent {% endcomment %}
              <div class="skills-content">

                <div class="skill-item">
                  <img
                    src="{% static 'images/html.jpeg' %}"
                    alt="HTML Logo"
                    class="skill-logo"
                  />
                  <span>HTML</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/CSS-Logo.png' %}"
                    alt="CSS Logo"
                    class="skill-logo"
                  />
                  <span>CSS</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/javasvript.jpeg' %}"
                    alt="JavaScript Logo"
                    class="skill-logo"
                  />
                  <span>JavaScript</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/python.jpeg' %}"
                    alt="Python Logo"
                    class="skill-logo"
                  />
                  <span>Python</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/dj.jpeg' %}"
                    alt="Django Logo"
                    class="skill-logo"
                  />
                  <span>Django</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/bs.jpeg' %}"
                    alt="Bootstrap Logo"
                    class="skill-logo"
                  />
                  <span>Bootstrap</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/google cloud.jpeg' %}"
                    alt="Google Cloud Logo"
                    class="skill-logo"
                  />
                  <span>Google Cloud</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/Netlify-Logo.wine.png' %}"
                    alt="Netlify Logo"
                    class="skill-logo"
                  />
                  <span>Netlify</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/vercel.jpeg' %}"
                    alt="Vercel Logo"
                    class="skill-logo"
                  />
                  <span>Vercel</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/c.png' %}"
                    alt="C Logo"
                    class="skill-logo"
                  />
                  <span>C</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/java.jpeg' %}"
                    alt="Java Logo"
                    class="skill-logo"
                  />
                  <span>Java</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/swift-logo.jpeg' %}"
                    alt="Swift Logo"
                    class="skill-logo"
                  />
                  <span>Swift</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/anaconda.jpeg' %}"
                    alt="Anaconda Logo"
                    class="skill-logo"
                  />
                  <span>Anaconda</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/flask.jpeg' %}"
                    alt="Flask Logo"
                    class="skill-logo"
                  />
                  <span>Flask</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/opence.jpeg' %}"
                    alt="OpenCV Logo"
                    class="skill-logo"
                  />
                  <span>OpenCV</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/mysql-logo.jpeg' %}"
                    alt="MySQL Logo"
                    class="skill-logo"
                  />
                  <span>MySQL</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/mongo.jpeg' %}"
                    alt="MongoDB Logo"
                    class="skill-logo"
                  />
                  <span>MongoDB</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/figma.jpeg' %}"
                    alt="Figma Logo"
                    class="skill-logo"
                  />
                  <span>Figma</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/canva.png' %}"
                    alt="Canva Logo"
                    class="skill-logo"
                  />
                  <span>Canva</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/numpy.jpeg' %}"
                    alt="NumPy Logo"
                    class="skill-logo"
                  />
                  <span>NumPy</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/pandas.png' %}"
                    alt="Pandas Logo"
                    class="skill-logo"
                  />
                  <span>Pandas</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/tensorflow.jpeg' %}"
                    alt="TensorFlow Logo"
                    class="skill-logo"
                  />
                  <span>TensorFlow</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/scikitlearn.png' %}"
                    alt="Scikit-learn Logo"
                    class="skill-logo"
                  />
                  <span>Scikit-learn</span>
                </div>
                <div class="skill-item">
                  <img
                    src="{% static 'images/scipy.jpeg' %}"
                    alt="SciPy Logo"
                    class="skill-logo"
                  />
                  <span>SciPy</span>
                </div>

              </div>
              {% comment %} close skills-centent {% endcomment %}
            </div>
            {% comment %} End of skills {% endcomment %}
        </div>
      </div>
      
    </div>
    </section>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
